<div class="main-content">
    <div class="container-fluid">

        <mat-chip selectable="true" removable="true">
            teste
            <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>

        <div class="row">
            <div class="col-6">
                <mat-form-field>
                    <mat-label>Buscar</mat-label>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Cliente, cidade ou usuário"
                        autocomplete="off" [(ngModel)]="filterValue">

                    <button mat-button *ngIf="filterValue" matSuffix mat-icon-button aria-label="Clear"
                        (click)="applyFilter('')">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>

            <div class="col">
                <button mat-button mat-icon-button (click)="openFilterInterview()" matTooltip="Busca avançada"
                    matTooltipClass="custom-tooltip">
                    <mat-icon>search</mat-icon>
                </button>
            </div>
        </div>

        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="client_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
                <td mat-cell *matCellDef="let interview"> {{interview.client_name}} </td>
            </ng-container>

            <ng-container matColumnDef="search">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Pesquisa </th>
                <td mat-cell *matCellDef="let interview"> {{interview.search.type}} </td>
            </ng-container>

            <ng-container matColumnDef="city">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Cidade </th>
                <td mat-cell *matCellDef="let interview"> {{interview.city.name}} </td>
            </ng-container>

            <ng-container matColumnDef="user">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuário </th>
                <td mat-cell *matCellDef="let interview"> {{interview.user.username}} </td>
            </ng-container>

            <ng-container matColumnDef="interview_date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Data </th>
                <td mat-cell *matCellDef="let interview"> {{interview.interview_date | date: 'dd/MM/yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="info">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let interview">
                    <button mat-icon-button>
                        <mat-icon class="infoInterview">info</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <div class="loadMoreInterviews">
            <button mat-icon-button>
                <mat-icon>add_circle_outline</mat-icon>
            </button>
        </div>

    </div>
</div>