<div class="main-content">
    <div class="container-fluid">
        <div class="card background-grey">
            <div class="card-header card-header-blue">
                <h4 class="card-title">Histórico</h4>
                <p class="card-category">Lista de Pesquisas Recentes</p>
            </div>
            <div id="typography">
                <mat-tab-group>
                    <mat-tab label="Pesquisas por Cidade">
                        <div class="row">
                            <div class="col-4">
                                <mat-form-field>
                                    <mat-label>Buscar</mat-label>
                                    <input matInput (keyup)="applyFilterCity($event.target.value)"
                                        [matDatepicker]="pickerCity">
                                    <mat-datepicker-toggle matSuffix [for]="pickerCity"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerCity></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <mat-radio-group color="primary" class="radio-group" [(ngModel)]="radioCity">
                                <div class="row">
                                    <div class="col-2">
                                        <mat-radio-button class="radio-button" #cityActivyHistoryCity>
                                            Cidade
                                        </mat-radio-button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-2">
                                        <mat-radio-button class="radio-button" #searchActivyHistoryCity>
                                            Pesquisa
                                        </mat-radio-button>
                                    </div>
                                </div>
                            </mat-radio-group>
                        </div>

                        <table mat-table [dataSource]="dataSourceHistoryCity" matSort #sortCity="matSort">
                            <!--Pesquisa-->
                            <ng-container matColumnDef="search">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Pesquisa</th>
                                <td mat-cell *matCellDef="let item;">{{ item.search }}</td>
                            </ng-container>

                            <!--Cidade-->
                            <ng-container matColumnDef="city">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Cidade</th>
                                <td mat-cell *matCellDef="let item;">{{ item.city }}</td>
                            </ng-container>

                            <!--Média-->
                            <ng-container matColumnDef="avarage">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Média</th>
                                <td mat-cell *matCellDef="let item;">{{ item.avarage * 2 | number:'1.1-1' }}</td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumnsHistoryCity"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsHistoryCity;"></tr>
                        </table>

                        <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>

                    </mat-tab>

                    <mat-tab label="Perguntas Geral" class="pergunta">
                        <div class="row">
                            <div class="col-2">
                                <mat-form-field>
                                    <mat-label>Buscar</mat-label>
                                    <input matInput (keyup)="applyFilterSearch($event.target.value)">
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-form-field>
                                    <mat-label>Data</mat-label>
                                    <input matInput [matDatepicker]="pickerGeral" [min]="minDate"
                                        [(ngModel)]="dateFilter">
                                    <mat-datepicker-toggle matSuffix [for]="pickerGeral"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerGeral></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <mat-radio-group color="primary" class="radio-group" [(ngModel)]="radioSearch">
                                <div class="col-2">
                                    <mat-radio-button class="radio-button" #cityActivyHistorySearch>
                                        Cidade
                                    </mat-radio-button>
                                    <mat-radio-button class="radio-button" #clientActivyHistorySearch>
                                        Cliente
                                    </mat-radio-button>
                                </div>
                                <div class="col-2">
                                    <mat-radio-button class="radio-button" #questActivyHistorySearch>
                                        Pergunta
                                    </mat-radio-button>
                                    <mat-radio-button class="radio-button" #noteActivyHistorySearch>
                                        Comentário
                                    </mat-radio-button>
                                </div>
                                <div class="col-2">
                                    <mat-radio-button class="radio-button" #userActivyHistorySearch>
                                        Usuário
                                    </mat-radio-button>
                                    <mat-radio-button class="radio-button" #searchActivyHistorySearch>
                                        Pesquisa
                                    </mat-radio-button>
                                </div>
                            </mat-radio-group>
                        </div>

                        <table mat-table [dataSource]="dataSourceHistoryAll" matSort #sortAnswer="matSort">
                            <!--Pesquisa-->
                            <ng-container matColumnDef="search">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Pesquisa</th>
                                <td mat-cell *matCellDef="let item;" class="searchtd">{{ item.search }}</td>
                            </ng-container>

                            <!--Nome-->
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
                                <td mat-cell *matCellDef="let item;" class="elip" matTooltip={{item.client_name}}>{{ item.client_name }}</td>
                            </ng-container>

                            <!--Questão-->
                            <ng-container matColumnDef="question">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Pergunta</th>
                                <td mat-cell *matCellDef="let item;"matTooltip={{item.question}}>{{ item.question }}</td>
                            </ng-container>

                            <!--Nota-->
                            <ng-container matColumnDef="rate">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nota</th>
                                <td mat-cell *matCellDef="let item;">{{ item.rate }}</td>
                            </ng-container>

                            <!--Comentário-->
                            <ng-container matColumnDef="note">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Comentários</th>
                                <td mat-cell *matCellDef="let item;" matTooltip={{item.note}}>{{ item.note }}</td>
                            </ng-container>

                            <!--Cidade-->
                            <ng-container matColumnDef="city">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Cidade</th>
                                <td mat-cell *matCellDef="let item;">{{ item.city }}
                                </td>
                            </ng-container>

                            <!--Usuário-->
                            <ng-container matColumnDef="user">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Usuário</th>
                                <td mat-cell *matCellDef="let item;">{{ item.user }}</td>
                            </ng-container>

                            <!--Data-->
                            <ng-container matColumnDef="date">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Data</th>
                                <td mat-cell *matCellDef="let item;">{{ item.updated_at | date:'dd/MM/yyyy dd:HH' }}
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumnsHistoryAll"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsHistoryAll;"></tr>
                        </table>

                        <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>