table {
    width: 100%;
}

mat-form-field {
    padding: 10px;
}

/*Não funfa*/
.pergunta,
.detalhado,
.geral {
    overflow-x: hidden;
}

.radio-group {
    display: flex;
    float: right;
}

.radio-button {
    padding: 1px;
    margin: 7px;
}

.searchtd {
    width: 30px;
}

td {
    max-width: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

mat-tab{
    overflow: hidden;
}