@import "../../../styles.css";

.comments {
    max-height: 300px;
    overflow: scroll;
    margin: 0 10px 25px;
    box-shadow: 0 0 1px 1px #ddd, 3px 3px 10px 2px #dedede;
    border-radius: 6px;
}

.mat-line{
    color: #696969;
}