@import "../modal.component.css";
@import "../../../styles.css";

.removeDateFilter {
    margin: 0 10px !important;
}

.halfWidth {
    width: 40%;
}

.border-padding {
    padding: 0 15px;
}