@import '../../global.css';

.mat-dialog-content{
    overflow: auto;
}

.mat-card{
    margin-bottom: 15px;
}

.mat-card .mat-card-title .icon-close{
    float: right;
}

.mat-card .mat-card-title .icon-close:hover{
    float: right;
    box-shadow: -0.8px 6.5px 2px gray;
}

.mat-card .mat-card-subtitle{
    padding-top: 4px;
    width: 95%;
    text-align: justify;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 13vh 11vh 12vh 10vh 5vh;
    align-content: center;
    justify-items: center;
}

.without-greetings{
    margin-top: calc(10% - 4%); /*Não sei como mas funfou*/
}

/*First Row GRID*/

.container .question{
    grid-column: 1/6;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    text-align: center;
    font-size: 17pt;
}

/*Second Row GRID*/

.rate-one, .rate-two, .rate-three, .rate-four, .rate-five{
    margin-top: 10px;
    height: 88px;
    width: 88px;
    border-radius: 50%;
    line-height: 2.65;
    text-align: center;
    font-weight: lighter;
    font-size: 24pt;
    border: solid 1px gray;
    cursor: pointer;
}

.rate-one:hover{
    transition: 0.2s;
    border-color: rgba(255, 0, 0, 0.77); 
    border-width: 2px;
    background: #00000001;
    font-weight: 500;
}

.rate-two:hover{
    transition: 0.2s;
    border-color: rgba(255, 85, 0, 0.77);
    background: #fbfbfb;
    border-width: 2px;
    font-weight: 500;
}

.rate-three:hover{
    transition: 0.2s;
    border-color: rgba(255, 157, 0, 0.77);
    background: #fbfbfb;
    border-width: 2px;
    font-weight: 500;
}

.rate-four:hover{
    transition: 0.2s;
    border-color: rgba(195, 201, 0, 0.77);
    background: #fbfbfb;
    border-width: 2px;
    font-weight: 500;
}

.rate-five:hover{
    border-color: rgba(47, 186, 0, 0.77);
    background: #fbfbfb;
    border-width: 2px;
    transition: 0.2;
    font-weight: 500;
}

/*Third Row GRID*/

.container .show-rate{
    grid-column: 3/3;
    grid-row: 3;
    line-height: 2.5;
    justify-self: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: 28pt;
}

/*Fourth row GRID - Left*/

.container .button-previous{
    grid-column: 1;
    grid-row: 5;
}

.container .button-next, .button-finish{
    grid-column: 5;
    grid-row: 5;
}

/*Fith row GRID*/

.comment-area .mat-form-field{
    width: 70vw;
    /*width: 966.8px;*/
}

.comment-area{
    align-self: center;
    justify-self: center;
    grid-column: 1/6;
    grid-row: 4;
}

.button-rate-one, .button-rate-two, .button-rate-three, .button-rate-four, .button-rate-five{
    font-weight: 800;
    color: black;
}

.button-rate-one{
    border: solid 1px black;
    color: rgb(255, 0, 0);
}

.button-rate-two{
    border: solid 1px black;
    color: rgb(255, 85, 0);
}

.button-rate-three{
    border: solid 1px black;
    color: rgb(255, 157, 0);
}

.button-rate-four{
    border: solid 1px black;
    color: rgb(195, 201, 0);
}

.button-rate-five{
    border: solid 1px black;
    color: rgb(89, 167, 63);
}

/*background: linear-gradient(to right, 
    #ff4747,
    #ff6c47,
    #ffb247,
    #fffc47,
    #47ff50);*/
/*background: linear-gradient(to right, 
    #ff4747,
    #ff9a47,
    #fffc47,
    #7eff47,
    #47ff50);*/
