    <mat-card>
        <mat-card-title>
            {{ data.name }} | {{ data.city }}
            <div class="icon-close">
                <img matDialogClose src="../../../assets/img/exit-door.png" alt="Fechar"/>
            </div>
        </mat-card-title>
        
        <mat-card-subtitle *ngIf="stepIndex.selectedIndex == 0">
            Olá, <b>{{ data.greetings }}</b> meu nome é <b>{{ data.user }}</b> sou consultor de relacionamentos da OnNet Telecom e gostaria de fazer uma rápida pesquisa de satisfação com você, pois a sua opinião é muito importante para nós.
        </mat-card-subtitle>
    </mat-card>
    <mat-horizontal-stepper 
        linear
        #stepIndex
        [ngClass]="{'without-greetings': stepIndex.selectedIndex != 0}"
    >
        <mat-step label="Pergunta - {{ setRateStep() }}" *ngFor="let item of question">

            <div class="container">

                <mat-label class="question">
                    {{ item.question }}
                </mat-label>

                <div class="rate-one"   [ngStyle]="{'border': rate === 1 ? 'inset 2px #ff0000' : ''}"  (click)="setRate(1)">
                    1
                </div>
                <div class="rate-two"   [ngStyle]="{'border': rate === 2 ? 'inset 2px #ff5500' : ''}"  (click)="setRate(2)">
                    2
                </div>
                <div class="rate-three" [ngStyle]="{'border': rate === 3 ? 'inset 2px #ff9d00' : ''}"  (click)="setRate(3)">
                    3
                </div>
                <div class="rate-four"  [ngStyle]="{'border': rate === 4 ? 'inset 2px #c3c900' : ''}"  (click)="setRate(4)">
                    4
                </div>
                <div class="rate-five"  [ngStyle]="{'border': rate === 5 ? 'inset 2px #2fba00' : ''}"  (click)="setRate(5)">
                    5
                </div>

                <div class="comment-area">
                    <mat-form-field>
                        <mat-placeholder>Comentário</mat-placeholder>
                        <input type="text" matInput class="comment">
                    </mat-form-field>
                </div>

                <button
                    *ngIf="stepIndex.selectedIndex != question.length - question.length"
                    mat-button
                    matStepperPrevious
                    class="button-previous"
                >Anterior
                </button>

                <button
                    *ngIf="stepIndex.selectedIndex == question.length - 1"
                    mat-button
                    mat-dialog-close
                    class="button-finish"
                >Finalizar
                </button>

                <button 
                    *ngIf="stepIndex.selectedIndex != question.length - 1"
                    mat-button
                    matStepperNext
                    class="button-next"
                    [ngClass]="{'button-rate-one':   rate === 1,
                                'button-rate-two':   rate === 2,
                                'button-rate-three': rate === 3,
                                'button-rate-four':  rate === 4,
                                'button-rate-five':  rate === 5}"
                >Próximo</button>
            </div>

        </mat-step>

    </mat-horizontal-stepper>
