<div class="modal-content">
    <div mat-dialog-title>
        Alterar Senha
    </div>
    <mat-divider></mat-divider>
    <div mat-dialog-content>
        <form [formGroup]='passwdForm'>
            <div style="padding: 0 15px;">
                <label for="current">Senha atual</label>
                <input id="current" formControlName="currentPasswd" class="inputEdit" type="password" autocomplete="off">
            </div>

            <div class="row">
                <div class="col">
                    <label for="new">Nova senha</label>
                    <input id="new" formControlName="newPasswd" class="inputEdit" type="password" autocomplete="off">
                </div>
                <div class="col">
                    <label for="confirm">Confirmar senha</label>
                    <input id="confirm" formControlName="confirmPasswd" class="inputEdit" type="password"
                        autocomplete="off">
                </div>
            </div>
            <div class="bot">
                <button mat-raised-button (click)="onSubmit()" class="btnGreen">Salvar</button>
            </div>
        </form>
    </div>
</div>