<div class="modal-content">
    <div mat-dialog-title>
        Alterar Senha
    </div>
    <mat-divider></mat-divider>
    <div mat-dialog-content>
        <form>
            <label for="currentPasswd">Senha atual</label>
            <input name="currentPasswd" class="inputEdit" type="text" autocomplete="off">

            <label for="newPasswd">Nova senha</label>
            <input name="newPasswd" class="inputEdit" type="password" autocomplete="off">

            <label for="confirmPasswd">Confirmar senha</label>
            <input name="confirmPasswd" class="inputEdit" type="password" autocomplete="off">
        </form>
    </div>
    <div class="bot">
        <button mat-raised-button (click)="onSubmit()" class="btnGreen">Salvar</button>
    </div>
</div>