@import "../modal.component.css";
@import "../../../styles.css";

.inputEdit {
    padding: 8px 10px;
    border-radius: 4px;
    box-shadow: none;
    font-size: 10pt;
    color: #616161;
}

.mat-dialog-content form input {
    transition: all .2s;
}

.mat-dialog-content form input:focus {
    outline: 0;
    border-color: #00b96c83;
}
