@import "../../../styles.css";

.main-content {
    background: #fff;
}

.userTable {
    width: 100%;
}

.radio-group {
    display: flex;
    flex-direction: row-reverse;
}

.radio-button {
    margin: 10px;
}

.row {
    margin: 20px 0;
    max-width: 100%;
}

.btnNew {
    float: right;
    box-shadow: 0px 6px 10px -5px #6b6b6b44, 0 0 1px 1px #dee5e7 !important;
    transition: transform 0.1s ease !important;
    background: #00b96c !important;
    color: #fff !important;
}

.btnNew:active {
    transform: scale(0.97);
}

.mat-list-icon {
    color: #0000008a;
}

.list-item-content {
    display: flex;
}

.list-item-content .mat-icon {
    cursor: pointer;
    color: #0a1e68;
    margin: auto;
}

.list-item-content section {
    margin: auto;
}

.btnAdd {
    margin-right: 10px;
}

.btnMatEdit {
    width: 120px;
}

.btnMatEdit .mat-icon {
    cursor: pointer;
    margin: auto 10px;
    float: right;
}

.editIcon {
    color: #0a1e68;
}

.activeIcon {
    color: #007242;
}

.inactiveIcon {
    color: #a72828;
}
