@import "../../../styles.css";

.main-content {
    background: #fff;
}

.userTable {
    width: 100%;
}

.radio-group {
    display: flex;
    flex-direction: row-reverse;
}

.radio-button {
    margin: 10px;
}

.row {
    margin: 20px 0;
    max-width: 100%;
}

.mat-list-icon {
    color: #0000008a;
}

.list-item-content {
    display: flex;
}

.list-item-content .mat-icon {
    cursor: pointer;
    color: #1e6688;
    margin: auto;
}

.list-item-content section {
    margin: auto;
}

.btnAdd {
    margin-right: 10px;
}

.btnMatEdit {
    width: 120px;
}

.btnMatEdit .mat-icon {
    cursor: pointer;
    margin: auto 10px;
    float: right;
}

.editIcon {
    color: #49626e;
}

.activeIcon {
    color: #008d52;
}

.inactiveIcon {
    color: #d31c1c;
}
