.main-content .container-fluid .row .card-body{
    border-radius: 6px;
}

.main-content .container-fluid .row .card-body .mat-form-field{
    float: left;
    width: 40%;
    padding-right: 5px;
}

.main-content .container-fluid .row .card-body button{
    float: right;
    border: solid 1px white;
    color: gray;
}
.main-content .container-fluid .row .card-body button:hover{
    transition: 0.2s;
    border: solid 1px white;
    font-weight: 500;
    color: black;
}

.card{
    background: #f3f3f3;
}