<div class="main-content">
    <div class="container-fluid">

        <div class="card card-plain">
            <div class="card-header card-header-blue">
                <h3 class="card-title">Pesquisas</h3>
                <p class="card-category">Satisfação</p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card-body">
                        <div class="col-md-12 ml-auto mr-auto">
                            <mat-accordion>
                                <mat-expansion-panel *ngFor="let item of search">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            {{ item.type }}
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            Pesquisa de {{ item.type }}
                                        </mat-panel-description>

                                    </mat-expansion-panel-header>
                                    <mat-form-field>
                                        <mat-label>Nome completo:</mat-label>
                                        <input matInput [(ngModel)]="name" required autocomplete="off">

                                    </mat-form-field>

                                    <mat-form-field>
                                        <mat-placeholder>
                                            Cidade
                                        </mat-placeholder>
                                        <mat-select [(ngModel)]="citySelected" name="city" required>

                                            <mat-option *ngFor="let item of city" [value]="item">
                                                {{item.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <button mat-button (click)="openSearch(item.id)">
                                        Iniciar
                                    </button>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>