@import "../../../styles.css";

.inputEdit {
    width: 100%;
    margin-bottom: 24px;
    border-radius: 6px;
    border: 1px solid #d4d4d4;
    box-shadow: 2px 2px 4px 0px #cacaca;
    padding: 10px;
}

.questTable {
    width: 100%;
}

.tableContent {
    max-height: 400px;
    overflow: auto;
    border-radius: 4px;
    box-shadow: 0 0 1px 1px #d2d1d4, 4px 4px 6px 1px #e8e8e8;
    margin: 0 15px 20px;
}

.mat-dialog-content {
    max-height: 80vh;
}

.btnActive {
    text-align: center;
}

.btnAdd {
    color: #4f5a5f;
    cursor: pointer;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
    max-width: 20px;
    text-align: end;
}

.box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background: white;
    font-size: 14px;
}

.move {
    cursor: move;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
}

.box:last-child {
    border: none;
}

.tableContent.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.noContent{
    text-align: center;
    margin: 40px 0;
    color: #838383;
}