@import "../../../styles.css";

.content {
  overflow-x: hidden;
}

.matTables {
  margin: 20px auto;
  width: 400px;
  max-height: 300px;
  border-radius: 6px;
  overflow: auto;
}

.mat-table {
  width: 100%;
}

.row .col {
  margin: auto;
}

.card {
  width: 400px;
  margin: 20px auto;
}
