<div class="content">
    <div class="card-login">
        <div class="card-img">
            <img src="../../../assets/img/logo/logoMarcaHalfColor.png">
        </div>

        <div class="row">
            <div class="col">
                <hr>
            </div>

            <div class="col-3">
                <h2>Login</h2>
            </div>

            <div class="col">
                <hr>
            </div>
        </div>

        <form [formGroup]='loginForm' class="non-select">
            <div class="input-group input-group-icon">
                <input formControlName="username" type="text" placeholder="Usuário" />
                <div class="input-icon"><i class="fa fa-user"></i></div>
            </div>

            <div class="input-group input-group-icon">
                <input formControlName="password" [type]=typeInput placeholder="Senha" />
                <div class="input-icon"><i class="fa fa-lock"></i></div>

                <div *ngIf=!passwordVisible class="input-icon-after">
                    <mat-icon (click)="showPassword()">visibility_off</mat-icon>
                </div>
                <div *ngIf=passwordVisible class="input-icon-after">
                    <mat-icon (click)="showPassword()">visibility</mat-icon>
                </div>
            </div>

            <div class="input-group input-group-checkbox">
                <input [checked]='rememberPasswd' type="checkbox" id="remember" name="remember"
                    (change)="onChange($event)" />
                <label for="remember">Lembrar-me</label>
            </div>

            <div class="input-group-button">
                <button class="btnLogin" (click)="onSubmit()">Entrar</button>
            </div>
        </form>
    </div>
</div>