.button-previous{
    font-weight: 500;
    border: solid 1px red;
    color: black;
}

.button-previous:hover{
    font-weight: bold;
    color: red;
}

.button-next{
    font-weight: 500;
    border: solid 1px black;
    color: gray;
}

.button-next:hover{
    font-weight: bold;
    color: black;
}

.button-finish{
    font-weight: 500;
    border: solid 1px green;
    color: black;
}

.button-finish:hover{
    font-weight: bold;
    color: green;
}
