<div class="content">
    <div class="card shadow">
        <div class="card-header bg-transparent">
            <h6 class="text-uppercase text-muted ls-1 mb-1">Avalização</h6>
            <h2 class="mb-0">Quantidade de notas por pessoa</h2>
        </div>
        <div class="card-body">
            <div class="chart">
                <canvas id="chart-orders" class="chart-canvas"></canvas>
            </div>
        </div>

        <input type="number" id="arr">

        <button (click)="update()">Click</button>
    </div>
</div>