<div class="modal-content">
    <div mat-dialog-title>
        Pergunta
    </div>
    <mat-divider></mat-divider>
    <div mat-dialog-content>
        <form>
            <div class="row">
                <div class="col">
                    <label for="name">Descrição da Pergunta</label>
                    <input [(ngModel)]="quest.question" name="question" class="inputEdit" type="name" autocomplete="off"
                        placeholder="Pergunta">
                </div>

                <div class="col-3 btnActive">
                    <label for="active">Pergunta ativa</label>
                    <section name="active">
                        <mat-slide-toggle (change)="changeActive($event.checked)" color="primary"
                            [checked]="quest.active">
                        </mat-slide-toggle>
                    </section>
                </div>
            </div>

            <label for="inQuest">Pesquisas vinculadas </label>
            <div id="inQuest" class="tableContent">
                <div class="box" *ngFor="let search of searchesInQuest">
                    {{search.type}}
                    <mat-icon class="btnAdd" (click)="removeSearch(search)">remove_circle</mat-icon>
                </div>

                <div class="noContent" *ngIf="searchesInQuest.length == 0 && !questsInLoading">
                    <i>Nenhuma pesquisa vinculada a esta pergunta</i>
                </div>

                <mat-card *ngIf="questsInLoading">
                    <mat-card-content class="loading">
                        <mat-progress-spinner mode="indeterminate">
                        </mat-progress-spinner>
                    </mat-card-content>
                </mat-card>
            </div>

            <label for="outQuest">Outras Pesquisas</label>
            <div id="outQuest" class="tableContent">
                <div class="box" *ngFor="let search of searchesOutQuest">
                    {{search.type}}
                    <mat-icon class="btnAdd" (click)="addSearch(search)">add_circle</mat-icon>
                </div>

                <div class="noContent" *ngIf="searchesOutQuest.length == 0 && !questsOutLoading">
                    <i>Nenhuma pesquisa a ser vinculada</i>
                </div>

                <mat-card *ngIf="questsOutLoading">
                    <mat-card-content class="loading">
                        <mat-progress-spinner mode="indeterminate">
                        </mat-progress-spinner>
                    </mat-card-content>
                </mat-card>
            </div>
        </form>
    </div>
    <div class="bot">
        <button mat-raised-button class="btnRed" (click)="dialogRef.close()">Cancelar</button>
        <button mat-raised-button (click)="onSubmit()" class="btnGreen">Salvar</button>
    </div>
</div>