<div class="logo">
    <div class="simple-text">
        <div class="logo-img">
            <img src="assets/img/logo/logoHalfColorWhite.png" />
        </div>
        OnNet CRM
    </div>
</div>
<div class="sidebar-wrapper">
    <div *ngIf="isMobileMenu()">
        <ul class="nav navbar-nav nav-mobile-menu">
            <li class="nav-item dropdown">
                <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">person</i>
                    <p>
                        <span class="d-lg-none d-md-block">Usuário</span>
                    </p>
                </a>
                <div aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changePassword()">Alterar senha</a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="logout()">Sair</a>
                </div>
            </li>
        </ul>
    </div>
    <ul class="nav">
        <li routerLinkActive="active" class="nav-item" *ngIf="isMaster">
            <a class="nav-link" routerLink="/dashboard">
                <i class="material-icons">dashboard</i>
                <p>Dashboard</p>
            </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" routerLink="/interview">
                <i class="material-icons">question_answer</i>
                <p>Pesquisas</p>
            </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" routerLink="/user_profile">
                <i class="material-icons">person</i>
                <p>Perfil de Usuário</p>
            </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" href="javascript:void(0)" data-toggle="dropdown">
                <i class="material-icons">library_books</i>
                <p>Registros</p>
            </a>
            <div class="dropdown-menu dropdown-menu-register dropdown-menu-left"
                aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" [routerLink]="['/register_interview']">
                    <i class="material-icons">storage</i>
                    <p>Pesquisas</p>
                </a>
                <a class="dropdown-item" [routerLink]="['/register_quest']">
                    <i class="material-icons">assessment</i>
                    <p>Perguntas</p>
                </a>
            </div>
        </li>
        <li routerLinkActive="active" class="nav-item" *ngIf="isMaster">
            <a class="nav-link" routerLink="/notifications">
                <i class="material-icons">settings</i>
                <p>Configurações</p>
            </a>
        </li>
    </ul>
</div>