@import "~@angular/material/prebuilt-themes/purple-green.css";

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: #999da04d;
    border-radius: 4px;
}

.content {
    width: 100%;
    height: 100%;
    position: fixed;
}

.card {
    position: relative;

    display: flex;
    flex-direction: column;

    min-width: 0;

    word-wrap: break-word;

    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 0.375rem;
    background-color: #fff;
    background-clip: border-box;
}
.card > hr {
    margin-right: 0;
    margin-left: 0;
}
.card > .list-group:first-child .list-group-item:first-child {
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
}
.card > .list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
}

.card-header {
    margin-bottom: 0;
    padding: 1.25rem 1.5rem;

    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    background-color: #fff;
}

.card-header:first-child {
    border-radius: calc(0.375rem - 1px) calc(0.375rem - 1px) 0 0;
}

.card-header + .list-group .list-group-item:first-child {
    border-top: 0;
}

.card-header-blue {
    background: linear-gradient(60deg, #1898be, #188db1) !important;
    box-shadow: 0 4px 20px 0px #00000024, 0 5px 10px -5px #1898be61 !important;
}

.custom-tooltip {
    color: #fff !important;
}

.background-white {
    background: #fff;
}

.background-grey {
    background: #f3f3f3;
}

.main-content {
    background: #fff;
}

.modal-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.bot {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.right {
    float: right;
}

.btnGreen {
    float: right;
    margin-left: 10px !important;
    box-shadow: 0px 6px 10px -5px #6b6b6b44, 0 0 1px 1px #dee5e7 !important;
    transition: transform 0.1s ease !important;
    background: #00b96c !important;
    color: #fff !important;
}

.btnGreen:active {
    transform: scale(0.97);
}

.btnRed {
    float: right;
    margin-left: 10px !important;
    box-shadow: 0px 6px 10px -5px #6b6b6b44, 0 0 1px 1px #dee5e7 !important;
    transition: transform 0.1s ease !important;
    background: #ec4646 !important;
    color: #fff !important;
}

.btnRed:active {
    transform: scale(0.97);
}
