<div class="main-content">
    <div class="content">
        <p>teste</p>

        <p>teste</p>

        <h1>Testeeee</h1>

        <p>teste</p>

        <p>teste</p>
        <h1>Testeeee</h1>

        <p>teste</p>

        <p>teste</p>
        <h1>Testeeee</h1>

        <p>teste</p>

        <p>teste</p>
        <h1>Testeeee</h1>

        <p>teste</p>

        <p>teste</p>
        <h1>Testeeee</h1>

        <p>teste</p>

        <p>teste</p>
        <h1>Testeeee</h1>

        <p>teste</p>

        <p>teste</p>

    </div>
</div>