@import "../../../styles.css";

.matTables {
    margin: 20px auto;
    width: 400px;
    max-height: 400px;
    border-radius: 6px;
    overflow: auto;
}

.matShadow {
    box-shadow: 5px 5px 11px 1px #52525238, 0px 0px 2px 1px #6a747a3d;
}

.mat-table {
    width: 100%;
}

.dash-card {
    max-width: 450px;
    margin: 20px auto;
    border-radius: 6px;
    background: #f3f3f3;
}

.infoIcon {
    font-size: 10pt;
    color: #777777;
    float: right;
    margin: auto;
}

.removeDateFilter {
    margin: 0 10px !important;
}

.label{
    display: flex;
    justify-content: space-between;
}

.label h3 {
    margin: auto 0;
}

.accordion-title{
    font-size: 13pt;
    font-weight: 400;
}