<div class="interview-content">
    <mat-card>
        <mat-card-title>
            {{ data.interview.client_name }} | {{ data.interview.city.name }}

            <mat-icon *ngIf="showButtons" class="btnCloseModal" (click)="close()">close</mat-icon>
        </mat-card-title>

        <mat-card-subtitle *ngIf="index == 0">
            Olá, <b>{{ data.greetings }}</b> meu nome é <b>{{ data.user }}</b>, sou consultor de relacionamentos da
            OnNet
            Telecom e gostaria de fazer uma rápida pesquisa de satisfação com você, pois a sua opinião é muito
            importante para nós.
        </mat-card-subtitle>
    </mat-card>

    <div>
        <mat-spinner *ngIf="!showButtons" class="loadInterview"></mat-spinner>
    </div>

    <mat-horizontal-stepper linear [ngClass]="{'without-greetings': index != 0}" *ngIf="showButtons">
        <mat-step *ngFor="let item of answerBody; let index = index;" label="{{ setLabel(index) }}">
            <div class="container">
                <mat-label class="question">
                    {{ item.quest.question }}
                </mat-label>

                <div class="rate non-select" [ngClass]="{'selected': item.rate === 1}" (click)="setRate(1, item)"> 1
                </div>

                <div class="rate non-select" [ngClass]="{'selected': item.rate === 2}" (click)="setRate(2, item)"> 2
                </div>

                <div class="rate non-select" [ngClass]="{'selected': item.rate === 3}" (click)="setRate(3, item)"> 3
                </div>

                <div class="rate non-select" [ngClass]="{'selected': item.rate === 4}" (click)="setRate(4, item)"> 4
                </div>

                <div class="rate non-select" [ngClass]="{'selected': item.rate === 5}" (click)="setRate(5, item)"> 5
                </div>

                <div class="comment-area">
                    <mat-form-field>
                        <mat-placeholder>Comentário</mat-placeholder>
                        <input type="text" matInput class="comment" [(ngModel)]="item.note" autocomplete="off">
                    </mat-form-field>
                </div>

                <button (click)="backIndex()" *ngIf="index > 0 && showButtons" mat-button matStepperPrevious
                    class="button-previous">Voltar</button>

                <button (click)="nextIndex()" *ngIf="index < answerBody.length - 1"
                    [disabled]="item.rate < 1 || item.rate > 5" mat-button matStepperNext
                    class="button-next">Próximo</button>

                <button (click)="submit()" *ngIf="index == (answerBody.length - 1) && showButtons"
                    [disabled]="item.rate < 1 || item.rate > 5" mat-button class="button-finish">Finalizar</button>
            </div>
        </mat-step>

        <ng-template matStepperIcon="edit">
            <mat-icon>done</mat-icon>
        </ng-template>

    </mat-horizontal-stepper>
</div>